@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');
:root {
  --darkGray: #292e33;
  --white: #fff;
  --accents: #ff93cc;
  --transition: .3s ease;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.container {
  width: 80%;
  margin: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  transition: var(--transition);
}
/******************
topbar
******************/
.topbar article {
  display: flex;
  justify-content: space-between;
}
.topbar {
  background-color: var(--darkGray);
  color: var(--white);
  padding: 10px 0;
}
.topbar i {
  color: var(--accents);
}
.topbar a {
  margin-left: 20px;
}
/******************
nav
******************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
nav ul {
  display: flex;
}
nav .logo {
  color: var(--accents);
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 1px 1px var(--darkGray);
}
nav .logo:hover {
  color: var(--darkGray);
  text-shadow: 1px 1px var(--accents);
}
nav ul li a {
  color: var(--darkGray);
  margin-left: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: var(--accents);
}

/******************
footer
******************/
footer {
  padding: 100px 0;
  background-color: var(--darkGray);
  color: var(--white);
}
footer article {
  display: flex;
  justify-content: space-between;
}
footer h3 {
  color: var(--accents);
  font-size: 1.5rem;
  margin-bottom: 20px;
}
footer div:nth-child(1) {
  flex: 0 0 39%;
}
footer div:nth-child(2) {
  flex: 0 0 19%;
}
footer div:nth-child(3) {
  flex: 0 0 39%;
}
footer ul li {
  margin-bottom: 3px;
}
footer a {
  color: var(--white);
}
footer a:hover {
  color: var(--accents);
}
footer input {
  padding: 10px;
  border: 2px solid var(--white);
  border-radius: 5px;
  background-color: transparent;
  color: var(--white);
  text-transform: uppercase;
}
footer input[type='email'] {
  margin-top: 10px;
  padding: 10px;
}
input[type='email']:focus {
  background-color: var(--white);
  color: #333;
}
footer input[type='submit'] {
  cursor: pointer;
}
footer input[type='submit']:focus {
  border: 2px solid var(--accents);
  color: var(--accents);
  transform: scale(102%);
  transition: var(--transition);
}
